.message-page {
  margin: 1.5em 0;
}

.left-side-message {
  border-right: 1px solid black;
  height: 35em;
  max-height: 35em;
  overflow: auto;
  margin: 0 0.5em;
}

@media (max-width: 768px) {
  .left-side-message {
    height: 100%;
    max-height: 200px;
    overflow: auto;
    border-right: 0;
    border-bottom: 1px solid black;
    margin: 0 0 1em 0;
  }
}

.message-title {
  font-size: 1.5em;
  text-align: center;
  position: sticky;
  top: 0;
  padding: 1em 0;
  background-color: #e8e8e8;
  margin-bottom: 0;
  z-index: 10;
}

.search-name-form {
  background-color: #e8e8e8;
  padding: 1em 0;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

.search-name-input {
  width: 70%;
}

.message-selection {
  margin: 1em 0;
  padding: 1em;
  display: block;
}

.message-selection:hover {
  background-color: #6d6d6d;
  color: #fff;
  text-decoration: none;
}

.message-username {
  font-size: 1.2em;
  font-weight: bold;
}

.right-side-message {
  margin: 0 0.5em;
  max-height: 35em;
}

.message-default-hint-box {
  font-size: 2em;
  text-align: center;
  height: 17.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-message-username {
  background-color: #e8e8e8;
  padding: 1em 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.message-history-box {
  max-height: 35em;
  height: 35em;
  overflow: auto;
}

#js-messages-box {
  max-height: 27.5em;
  height: 100%;
}

.message-dialog {
  margin: 1em 0;
}

.inner-message-box {
  border: 1px solid black;
  border-radius: 1.3em;
  padding: 6px 12px 7px;
  /* background-color: #fbfbfb; */
}

.message-by-me {
  display: flex;
  justify-content: flex-end;
}

.message-by-others {
  display: flex;
  justify-content: flex-start;
}

.message-input-box {
  height: 3.1em;
  position: sticky;
  bottom: 0;
  background-color: #fff;
}

.inner-other-message {
  background-color: #eee;
}

.double-tick {
  align-items: center;
  display: flex;
  margin-right: 5px;
}

.message-textarea {
  border-radius: 1.2em;
}
